{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-300 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Sign up</h1>

        <form method="post" action="." class="space-y-3">
            {% csrf_token %}

            <div>
                <label>Username</label>
                <input type="text" name="username" class="w-full mt-2 py-4 px-6  bg-sky-200 dark:bg-sky-700 text-gray-800 dark:text-gray-300 rounded-xl">
            </div>
            
            <div>
                <label>First name</label>
                <input type="text" name="first_name" class="w-full mt-2 py-4 px-6  bg-sky-200 dark:bg-sky-700 text-gray-800 dark:text-gray-300 rounded-xl">
            </div>

            <div>
                <label>Last name</label>
                <input type="text" name="last_name" class="w-full mt-2 py-4 px-6  bg-sky-200 dark:bg-sky-700 text-gray-800 dark:text-gray-300 rounded-xl">
            </div>

            <div>
                <label>E-mail</label>
                <input type="email" name="email" class="w-full mt-2 py-4 px-6  bg-sky-200 dark:bg-sky-700 text-gray-800 dark:text-gray-300 rounded-xl">
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password1" class="w-full mt-2 py-4 px-6  bg-sky-200 dark:bg-sky-700 text-gray-800 dark:text-gray-300 rounded-xl">
            </div>

            <div>
                <label>Repeat pasword</label>
                <input type="password" name="password2" class="w-full mt-2 py-4 px-6  bg-sky-200 dark:bg-sky-700 text-gray-800 dark:text-gray-300 rounded-xl">
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <script>
                            Swal.fire({
                                title: 'Error',
                                text: "{{ error }}",
                                icon: 'warning',
                            })
                        </script>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <script>
                        Swal.fire({
                            title: 'Error',
                            text: "Campos requeridos",
                            icon: 'error',
                        })
                    </script>
                    
                {% endfor %}
            {% endif %}

            <div class="py-4">
                <button class="py-4 px-6 rounded-xl text-white bg-sky-500 hover:bg-sky-400">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}