{% if item %}
    <div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
        <a href="#" class="w-1/4">
            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
        </a>

        <div class="w-3/4 pl-6">
            <div class="flex justify-between">
                <a href="#" class="text-lg dark:text-gray-300">{{ item.product.name }}</a>

                <span class="mb-6 pt-1 text-gray-400 dark:text-gray-300">${{ item.total_price }}</span>
            </div>

            <hr>

            <div class="quantity mt-6 flex items-center space-x-4">
                <buton 
                    class="px-4 bg-gray-400 rounded-xl"
                    hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
                    hx-target="#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >
                    -
                </buton>
                <span class="px-4 text-gray-400 dark:text-gray-300">{{ item.quantity }}</span>
                <buton 
                    class="px-4 bg-gray-400 rounded-xl"
                    hx-get="{% url 'update_cart' item.product.id 'increment' %}"
                    hx-target="#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >
                    +
                </buton>
            </div>
        </div>
    </div>
{% endif %}